aerich==0.5.3
aiohttp 
aiosqlite 
APScheduler
asgiref
async-timeout
asyncpg
attrs
backports.entry-points-selectable
beautifulsoup4
black
bs4
certifi
cfgv
chardet
charset-normalizer
click
colorlog
ddlparse
dictdiffer
distlib
filelock
hikari
hikari-tanjun
git+https://github.com/FasterSpeeding/Tanjun
hikari-yuyo
git+https://github.com/FasterSpeeding/Yuyo
identify
idna
iso8601
isort
lavasnek_rs
multidict
mypy-extensions
nepali-date
nodeenv
pathspec
platformdirs
pre-commit
psutil
pure25519
pydantic
pyparsing
pypika-tortoise
python-dotenv
pytz
PyYAML
regex
requests
six
soupsieve
spotipy
StringProgressBar==1.0.1
toml
tomli
tortoise-orm==0.17.4
typing-extensions
tzlocal
urllib3
uvloop
virtualenv
yarl
